<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Thêm Nhân Viên</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- FONT -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="../../../resource/css/reset.css" />
    <link rel="stylesheet" href="../../../resource/css/admin/add-employee.css" />
</head>

<body>
    <header>
        <div class="container-header">
            <div class="wrap-page">
                <div class="cart-logo">
                    <img src="../../../resource/imgs/logo-quangdz.png" alt="" />
                    <div class="vl"></div>
                    <a href="../admin/admin-start.html">
                        <h5 id="title-name">Kênh Quản Lí</h5>
                    </a>
                    <i class="fas fa-chevron-right"></i>
                    <h5 id="curren-tab">Thêm Nhân Viên</h5>
                </div>

                <div class="account-manager">
                    <h5 id="account-email"></h5>
                    <script>
                        let test = JSON.parse(localStorage.getItem("user"));
                        let email_account = document.getElementById("account-email");
                        email_account.innerText = test.email;
                    </script>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container-add-employee">
            <div class="account-information">
                <div class="element">
                    <h5>Thông tin cơ bản</h5>
                </div>
                <div class="element">
                    <label for="">Email Nhân Viên:</label>
                    <input type="email" name="email-employee" id="email-employee" data-toggle="popover" data-placement="right" autocomplete="off" />
                </div>
                <div class="element">
                    <label for="">Mật Khẩu:</label>
                    <input type="password" name="curren-password" id="curren-password" autocomplete="off" />
                </div>
                <div class="element">
                    <label for="">Xác Nhận Mật Khẩu:</label>
                    <input type="password" name="re-password" id="re-password" autocomplete="off" />
                </div>
            </div>

            <div class="basic-information">
                <div class="element">
                    <h5>Thông tin cơ bản</h5>
                </div>
                <div class="element">
                    <label for="">Tên Nhân Viên:</label>
                    <input type="text" name="name-employee" id="name-employee" data-toggle="popover" data-placement="right" />
                </div>
                <div class="element">
                    <label for="">SDT:</label>
                    <input type="text" name="phone-employee" id="phone-employee" />
                </div>
                <div class="element">
                    <label for="" id="lb-add">Địa Chỉ:</label>
                    <textarea name="address-employee" id="address-employee" cols="30" rows="5"></textarea>
                </div>
            </div>

            <div class="img-information">
                <div class="element">
                    <label class="control-label col-sm-2">Hình ảnh:</label>

                    <div class="wrapper">
                        <img src="../../../resource/imgs/image+photo+upload+photo+icon-1320166594426292180.png" alt="" id="upload-img-employee" />
                        <input type="file" class="file-upload" id="fileupload-employee" />
                    </div>
                </div>
            </div>

            <div class="bnt-container">
                <button type="reset">Hủy bỏ</button>
                <button type="button" id="btn-add-employee">Lưu</button>
            </div>
        </div>
    </main>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="sweetalert2.all.min.js"></script>
    <!-- Optional: include a polyfill for ES6 Promises for IE11 -->
    <script src="//cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="../../src/components/staff/satffModel.js"></script>
    <script src="../../src/components/staff/staffService.js"></script>
    <script src="../../src/components/staff/staff.js"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <script>
        $(function() {
            $("#fileupload-employee").change(function(event) {
                var x = URL.createObjectURL(event.target.files[0]);
                $("#upload-img-employee").attr("src", x);
            });

            $("#btn-add-employee").click(function(e) {
                const email =
                    /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                const regex_phone = /(0[3|5|7|8|9])+([0-9]{8})\b/g;

                let email_check = $("#email-employee").val();
                let password_check = $("#curren-password").val();
                let repassword_check = $("#re-password").val();
                let name_check = $("#name-employee").val();
                let phone_check = $("#phone-employee").val();
                let address_check = $("#address-employee").val();

                let flag_add = true;

                if (email_check === "" || !email_check.match(email)) {
                    $("#email-employee").addClass("error-input");
                    flag = false;
                }

                if (
                    password_check === "" ||
                    password_check.length < 8 ||
                    password_check.length > 16
                ) {
                    $("#curren-password").addClass("error-input");

                    flag = false;
                }

                if (!password_check.match(repassword_check) ||
                    repassword_check === ""
                ) {
                    $("#re-password").addClass("error-input");

                    flag = false;
                }

                if (name_check == "" || name_check.length < 10) {
                    $("#name-employee").addClass("error-input");

                    flag_add = false;
                }

                if (phone_check === "" || !phone_check.match(regex_phone)) {
                    $("#phone-employee").addClass("error-input");

                    flag = false;
                }

                if (address_check === "") {
                    $("#address-employee").addClass("error-input");

                    flag = false;
                }

                // if (fileupload_check == "") {
                // 	flag_add = false;
                // }

                if (flag_add == true) {
                    createNewStaff();
                } else {
                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: "Bổ sung đầy đủ thông tin nhân viên",
                        showConfirmButton: false,
                        timer: 1500,
                    });
                }
            });

            $("input, textarea").focus(function(e) {
                if ($(this).hasClass("error-input")) {
                    $(this).removeClass("error-input");
                    let curren = $(this).attr("id");
                    console.log(curren);
                    if (curren == "name-employee") {
                        $(this)
                            .popover({
                                title: "**Chú ý Tên**",
                                content: "Không rỗng. <br /> Không dưới 10 kí tự.",
                                html: true,
                                trigger: "focus",
                            })
                            .popover("show");
                    } else if (curren == "phone-employee") {
                        $(this)
                            .popover({
                                title: "**Chú ý Mô tả**",
                                content: "Không rỗng. <br /> Nhập đúng chuẩn SDT.",
                                html: true,
                                trigger: "focus",
                            })
                            .popover("show");
                    } else if (curren == "address-employee") {
                        $(this)
                            .popover({
                                title: "**Chú ý NSX**",
                                content: "Không rỗng.",
                                html: true,
                                trigger: "focus",
                            })
                            .popover("show");
                    } else if (curren == "email-employee") {
                        $(this)
                            .popover({
                                title: "**Chú ý Giá**",
                                content: "Không rỗng. <br /> Nhập đúng chuẩn email. ",
                                html: true,
                                trigger: "focus",
                            })
                            .popover("show");
                    } else if (curren == "curren-password") {
                        $(this)
                            .popover({
                                title: "**Chú ý Số lượng**",
                                content: "Không rỗng. <br /> Không lớn hơn 8 kí tự./> ",
                                html: true,
                                trigger: "focus",
                            })
                            .popover("show");
                    } else if (curren == "re-password") {
                        $(this)
                            .popover({
                                title: "**Chú ý Số lượng**",
                                content: "Không rỗng. <br /> Nhập giống mật khẩu",
                                html: true,
                                trigger: "focus",
                            })
                            .popover("show");
                    }
                }
            });
        });
    </script>
</body>

</html>