<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/admin/manager-product.css" />
    <!-- <div id="fb-root"></div>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0"
      nonce="cUPFZZje"
    ></script> -->
  </head>

  <body>
    <!-- <div
      class="fb-comments"
      data-href="https://developers.facebook.com/docs/plugins/comments#configurator"
      data-width="500"
      data-lazy="true"
      data-numposts="5"
    ></div> -->

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0&appId=162260685828598&autoLogAppEvents=1"
      nonce="aswjJOAg"
    ></script>

    <!-- Your embedded comments code -->
    <div
      class="fb-comments"
      data-href="https://www.facebook.com/quang.klynk/"
      data-width="500"
      data-numposts="5"
    ></div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./../../src/components/products/productModel.js"></script>
    <script src="./../../src/components/products/productService.js"></script>
    <script src="./../../src/components/products/product.js"></script>
  </body>
</html>
