<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/mange-list-bill.css" />

    <!-- Font + Jquery -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="js/manage.js"></script>
  </head>
  <body>
    <header>
      <div class="container-header">
        <div class="logo-web">
          <img src="imgs/logo-bg-white.png" alt="" />
        </div>
        <div class="info-user">
          <i class="fas fa-user-cog"></i>
          <p>Xin chào <span>Email</span>!!!</p>

        </div>
      </div>
    </header>
    <main>
      <div class="container-main">
        <div class="left-main">
          <div class="title">
            <h2>Menu Quản Lí</h2>
          </div>
          <div class="choice-left">
            <ul class="menu-bar">
              <li class="item-menu-left"><a href="">Quản Lý Đơn Hàng</a></li>
              <li class="item-menu-left"><a href="">Quản Lý Sản Phẩm</a></li>
              <li class="item-menu-left"><a href="">Mã Sản Phẩm</a></li>
            </ul>
          </div>
        </div>
        <div class="right-main">
          <div class="container-right">
            <div class="title-right">
              <h2>Danh sách quản lý đơn hàng</h2>
            </div>
            <div class="divTable table-product">
              <div class="divTableHeading">
                <div class="divTableRow">
                  <div class="divTableHead">
                    <p>Id Sản Phẩm</p>
                  </div>
                  <div class="divTableHead">
                    <p>Tên Sản Phẩm</p>
                  </div>
                  <div class="divTableHead">
                    <p>Số Lượng</p>
                  </div>
                  <div class="divTableHead">
                    <p>Giá</p>
                  </div>
                  <div class="divTableHead">
                    <p>Nhà sản xuất</p>
                  </div>
                </div>
              </div>
              <div class="divTableBody">
                <div class="divTableRow">
                  <div class="divTableCell">
                    <ul class="info-pro">
                      <li>
                        <p>test</p>
                      </li>
                      <li>
                        <p>test</p>
                      </li>
                      <li>
                        <p>test</p>
                      </li>
                    </ul>
                  </div>
                  <div class="divTableCell">
                    <ul class="info-pro">
                      <li>
                        <p>test</p>
                      </li>
                      <li>
                        <p>test</p>
                      </li>
                      <li>
                        <p>test</p>
                      </li>
                    </ul>
                  </div>
                  <div class="divTableCell">
                    <ul class="info-pro">
                      <li>
                        <p>test</p>
                      </li>
                      <li>
                        <p>test</p>
                      </li>
                      <li>
                        <p>test</p>
                      </li>
                    </ul>
                  </div>
                  <div class="divTableCell">
                    <p>Cis Man</p>
                  </div>
                  <div class="divTableCell divTableCell-user customer">
                    <p><i class="fas fa-user show-popup"></i></p>
                    <div class="container-customer">
                      <div class="title-container">
                        <h5>Thông Tin User</h5>
                        <button class="btn-close close-popup">×</button>
                      </div>
                      <div class="info-customer">
                        <p>Tên: <span>quang0</span></p>
                        <p>Gmail: <span>quangklynk@gmail.com</span></p>
                        <p>Số điện thoại: <span>0775195882</span></p>
                        <p>
                          Địa chỉ:
                          <span
                            >akshdiuashdooasdhdouhgasoudyhoaushgdgasodgasougdoausg</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divTableRow">
                  <div class="divTableCell">
                    <ul class="info-pro">
                      <li>
                        <p>test</p>
                      </li>
                      <li>
                        <p>test</p>
                      </li>
                      <li>
                        <p>test</p>
                      </li>
                    </ul>
                  </div>
                  <div class="divTableCell">
                    <ul class="info-pro">
                      <li class="name-product">
                        <p>test</p>
                        <div class="img-pro">
                          <img
                            src="imgs/82499380_197290774742639_928907860262256640_o.jpg"
                            alt="ảnh sản phẩm"
                          />
                        </div>
                      </li>
                      <li class="name-product">
                        <p>test</p>
                        <div class="img-pro">
                          <img src="imgs/anm.jpg" alt="ảnh sản phẩm" />
                        </div>
                      </li>
                      <li class="name-product">
                        <p>test</p>
                        <div class="img-pro">
                          <img src="imgs/3.png" alt="ảnh sản phẩm" />
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="divTableCell">
                    <ul class="info-pro">
                      <li>
                        <p>test</p>
                      </li>
                      <li>
                        <p>test</p>
                      </li>
                      <li>
                        <p>test</p>
                      </li>
                    </ul>
                  </div>
                  <div class="divTableCell">
                    <p>Cis Man</p>
                  </div>
                  <div class="divTableCell divTableCell-user customer">
                    <p><i class="fas fa-user show-popup"></i></p>
                    <div class="container-customer">
                      <div class="title-container">
                        <h5>Thông Tin User</h5>
                        <button class="btn-close close-popup">×</button>
                      </div>
                      <div class="info-customer">
                        <p>Tên: <span>quang2</span></p>
                        <p>Gmail: <span>quangklynk@gmail.com</span></p>
                        <p>Số điện thoại: <span>0775195882</span></p>
                        <p>
                          Địa chỉ:
                          <span
                            >akshdiuashdooasdhdouhgasoudyhoaushgdgasodgasougdoausg</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divTableRow">
                  <div class="divTableCell">
                    <ul class="info-pro">
                      <li>
                        <p>test</p>
                      </li>
                      <li>
                        <p>test</p>
                      </li>
                      <li>
                        <p>test</p>
                      </li>
                    </ul>
                  </div>
                  <div class="divTableCell">
                    <ul class="info-pro">
                      <li>
                        <p>test</p>
                      </li>
                      <li>
                        <p>test</p>
                      </li>
                      <li>
                        <p>test</p>
                      </li>
                    </ul>
                  </div>
                  <div class="divTableCell">
                    <ul class="info-pro">
                      <li>
                        <p>test</p>
                      </li>
                      <li>
                        <p>test</p>
                      </li>
                      <li>
                        <p>test</p>
                      </li>
                    </ul>
                  </div>
                  <div class="divTableCell">
                    <p>Cis Man</p>
                  </div>
                  <div class="divTableCell divTableCell-user customer">
                    <p><i class="fas fa-user show-popup"></i></p>
                    <div class="container-customer">
                      <div class="title-container">
                        <h5>Thông Tin User</h5>
                        <button class="btn-close close-popup">×</button>
                      </div>
                      <div class="info-customer">
                        <p>Tên: <span>quang2</span></p>
                        <p>Gmail: <span>quangklynk@gmail.com</span></p>
                        <p>Số điện thoại: <span>0775195882</span></p>
                        <p>
                          Địa chỉ:
                          <span
                            >akshdiuashdooasdhdouhgasoudyhoaushgdgasodgasougdoausg</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tutorial-table">
                
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="container-footer">
        <div class="button-back">
          <button>Back Home</button>
        </div>
      </div>
    </footer>
  </body>
</html>
