/* line 1, header-store.scss */
.container-header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09); }
  /* line 4, header-store.scss */
  .container-header .wrap-page {
    max-width: 1200px;
    margin: 0px auto;
    height: 100px;
    display: flex;
    justify-content: space-between; }
    /* line 10, header-store.scss */
    .container-header .wrap-page .img-logo {
      display: flex;
      align-items: center;
      height: inherit; }
      /* line 14, header-store.scss */
      .container-header .wrap-page .img-logo img {
        width: initial; }
    /* line 18, header-store.scss */
    .container-header .wrap-page .login-container {
      align-self: center; }
      /* line 20, header-store.scss */
      .container-header .wrap-page .login-container .warp-btn {
        display: none; }

/* line 27, header-store.scss */
#login-btn {
  display: inline-block;
  position: relative;
  width: 130px;
  background: linear-gradient(173deg, #30698c 0%, #6ca6d9 100%);
  letter-spacing: 1px;
  color: white;
  border-radius: 25px;
  padding: 16px;
  font-size: 16px;
  overflow: hidden;
  font-weight: 600; }
  /* line 43, header-store.scss */
  #login-btn span {
    position: absolute;
    background-color: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animete 1s linear infinite; }

/* line 53, header-store.scss */
.caret.caret-up {
  border-top-width: 0;
  border-bottom: 4px solid #fff; }

/* line 58, header-store.scss */
.dropdown-menu {
  min-width: none;
  width: 100%; }
  /* line 61, header-store.scss */
  .dropdown-menu li:not(li:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.09); }

/* line 66, header-store.scss */
.custome-btn {
  display: inline-block;
  position: relative;
  width: 100%;
  background: linear-gradient(173deg, #30698c 0%, #6ca6d9 100%);
  letter-spacing: 1px;
  color: white;
  border-radius: 25px;
  padding: 16px;
  font-size: 16px;
  overflow: hidden;
  font-weight: 600;
  border: none; }

@keyframes animete {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5; }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0; } }

.container-header .wrap-page .login-container button a{
  color: #fff;
}
.container-header .wrap-page .login-container button a:hover{
  text-decoration: none;
  color: unset;
}