* {
    font-family: "Roboto", sans-serif;
}

@mixin select_box {
    border: 1px solid;
    padding: 10px;
    display: unset;
    height: unset;
    width: unset;
}

header {
    .container-header {
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);
        background-color: #4e73df;
        .wrap-page {
            max-width: 1200px;
            margin: 0px auto;
            height: 100px;
            display: flex;
            justify-content: space-between;
            .cart-logo {
                display: flex;
                align-items: center;
                height: inherit;
                img {
                    width: initial;
                }
                .vl {
                    border-left: 3px solid #1664af;
                    height: 80%;
                    border-radius: 15px;
                }
                h5 {
                    font-size: 20px;
                    font-weight: 400;
                    color: #1664af;
                    padding-left: 5px;
                }
            }
            .account-manager {
                align-self: center;
            }
        }
    }
}

.container-main {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    .left-main {
        position: sticky;
        top: 0px;
        background-color: #4e73df;
        background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
        flex-basis: 20%;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        .title-admin {
            margin: 0px auto;
            height: 100px;
            display: flex;
            justify-content: center;
            .cart-logo {
                display: flex;
                align-items: center;
                height: inherit;
                img {
                    width: initial;
                }
                .vl {
                    border-left: 3px solid #1664af;
                    height: 80%;
                    border-radius: 15px;
                }
                h5 {
                    font-size: 20px;
                    font-weight: 400;
                    color: #1664af;
                    padding-left: 5px;
                }
            }
        }
        #account {
            padding: 10px 0px;
            border-top: 1px solid rgba(255, 255, 255, 0.15);
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
            text-align: center;
            p {
                margin: 0;
                padding: 0;
                font-weight: 600;
                font-size: 16px;
                color: #fff;
                display: inline-block;
            }
            button {
                color: #fff;
                background-color: rgb(170, 68, 68);
                padding: 5px;
                margin-left: 5px;
                border-radius: 3px;
            }
            #changePass_btn_modal {
                background-color: #04aa6d;
            }
        }
        ul {
            padding: 0px 16px;
            padding-top: 10px;
            padding-bottom: 30px;
            li {
                button {
                    padding: 6px 8px 6px 16px;
                    text-decoration: none;
                    font-size: 16px;
                    color: rgba(255, 255, 255, 0.8);
                    display: block;
                    border: none;
                    background: none;
                    width: 100%;
                    text-align: left;
                    cursor: pointer;
                    outline: none;
                    font-weight: 600;
                }
                .dropdown-btn {
                    position: relative;
                    .icon {
                        position: absolute;
                        right: 0px;
                    }
                }
            }
        }
    }
    .right-main {
        flex-basis: 80%;
        width: 100%;
        padding: 30px 15px;
        background: #f6f6f6;
    }
}

#to-do-list {
    width: 70%;
    margin: auto;
    background: #fff;
    padding: 15px;
    .container-TD-list {
        .title {
            padding: 10px 0px;
            h5 {
                font-size: 18px;
                color: #333;
                font-weight: 600;
            }
        }
        .grid-list {
            display: grid;
            gap: 15px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content: center;
            align-items: center;
            .element-nofi {
                text-align: center;
                span {
                    margin-bottom: 7px;
                    font-size: 16px;
                    min-height: 18px;
                    color: #2673dd;
                    font-weight: 600;
                }
            }
            .element-nofi:not(.element-nofi:nth-child(4n)) {
                border-right: 2px solid #e5e5e5;
            }
        }
    }
}

.fa-angle-down {
    transform: rotate(0deg);
    transition: transform 0.4s linear;
}

.fa-angle-down.open {
    transform: rotate(180deg);
    transition: transform 0.4s linear;
}

#revenue {
    background: #fff;
    width: 80%;
    margin: 0px auto;
    #contain-revenue {
        padding: 15px;
        .title {
            h3 {
                font-weight: 600;
                margin-top: unset;
            }
            h5 {
                font-weight: 600;
                font-size: 18px;
            }
        }
        .container-pay {
            display: flex;
            .price-product {
                padding-top: 10px;
                font-weight: 900;
                font-size: 25px;
            }
            .title-price {
                color: #999;
            }
            .price-product::after {
                content: "đ";
            }
            .title {
                padding-bottom: 15px;
            }
            .will-pay {
                flex-basis: 30%;
                .valua {
                    border-right: 2px solid #e5e5e5;
                    span {
                        display: block;
                    }
                }
            }
            .paid {
                flex-basis: 70%;
                padding-left: 20px;
                .valua {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    flex: 1;
                    div {
                        span {
                            display: block;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    #chart_div,
    #chart_div_year {
        display: -webkit-inline-box;
        margin: 0px auto;
    }
}

.dropdown-container {
    padding: 5px;
    margin-left: 30px;
    background-color: #fff;
    border-radius: 4px;
    a {
        padding: 10px;
        display: block;
        color: #3a3b45;
    }
}

// custom - modal
.modal-header {
    text-align: left;
    #exampleModalLongTitle {
        display: inline-block;
        font-weight: 600;
    }
}

.modal-body {
    .container-detail {
        .row-detail {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #cccc;
            padding: 10px 0px;
            .contain-img {
                width: 80px;
                img {
                    width: 100% !important;
                }
            }
        }
    }
    .SL-status-ord {
        @include select_box();
    }
}

#list-order {
    .container-list-order {
        .container-btn-manager {
            border: 1px solid #ddd;
            background-color: #fff;
            margin-bottom: 15px;
            #order-bnt-manager {
                display: flex;
                margin: unset;
                .element-LO-btn {
                    p {
                        margin: unset;
                        padding: 10px 15px;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
                .active-bnt-manager {
                    color: #4e73df;
                    border-bottom: 3px solid #4e73df;
                }
            }
        }
        .container-table {
            .custom-table {
                thead {
                    th {
                        font-size: 14px;
                        text-align: center;
                        vertical-align: baseline;
                    }
                }
                tbody {
                    tr {
                        .img-detail,
                        .img-customer {
                            text-align: center;
                            img {
                                width: 40px;
                            }
                        }
                        .unit-order {
                            p {
                                display: max-content;
                            }
                        }
                        .action-row {
                            text-align: center;
                            padding: 8px 0px;
                        }
                    }
                }
            }
        }
    }
}

//thông tin người dùng
.img-customer {
    position: relative;
    .container-customer {
        position: absolute;
        width: 250px;
        height: auto;
        display: none;
        top: 0px;
        right: -52px;
        background-color: #f2f2f2;
        text-align: left;
        z-index: 2;
        // box-shadow: 0 0 8px rgb(0 0 0 / 30%);
        .title-container {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #000;
            background-color: #fd7e14;
            h5 {
                padding: 7px;
            }
            .btn-close {
                cursor: pointer;
                outline: none;
                flex-basis: 12%;
                align-items: center;
                padding: 0;
                overflow: hidden;
                transition: color 0.1s ease-out;
                border: none;
                border-radius: 0;
                background: 0 0;
                color: #ccc;
                font-family: serif;
                font-size: 25px;
            }
            .btn-close:hover {
                color: #000;
            }
        }
        .info-customer {
            padding: 15px;
            p {
                line-height: 1.2;
                word-break: break-all;
            }
        }
    }
}

// Show list product
.control-tab {
    display: flex;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: margin-left 0.5s;
    .btn-control-tab {
        flex-basis: 50%;
        background-color: #555;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
    }
    .btn-control-tab:hover {
        background-color: #777;
    }
}


/* Style the tab content */

.tabcontent {
    color: #000;
    display: none;
    text-align: center;
    width: 90%;
    margin: 0px auto;
    padding: 30px 0px 55px 0px;
}

#list-product {
    .container-list-order {}
    .name-product {
        p {
            word-break: break-word;
            width: 190px;
        }
    }
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow: inset $top $left $blur $color;
        -moz-box-shadow: inset $top $left $blur $color;
        box-shadow: inset $top $left $blur $color;
    }
    @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}

#list-blog {
    .container-list-blog {}
    #TB-list-blog {
        .element-blog {
            td {
                vertical-align: top;
            }
            .img-blog {
                img {
                    width: 120px;
                    object-fit: cover;
                    height: 160px;
                }
            }
            .title-blog {
                p {
                    width: 150px;
                    word-wrap: break-word;
                }
            }
            .content-blog {
                p {
                    width: 450px;
                    word-wrap: break-word;
                }
            }
        }
    }
}

#list-slide {
    .container-list-order {
        .container-add {
            position: relative;
            padding: 15px 0px;
            text-align: right;
            button {
                .more {
                    font-size: 23px;
                }
                .more:hover {
                    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
                    transform: translate3d(0, 0, 0);
                    backface-visibility: hidden;
                    perspective: 1000px;
                }
            }
            #manual-slider {
                position: absolute;
                right: 0px;
                @include box-shadow(0, 1px, 4px, rgba(0, 0, 0, 0.1));
                background-color: #fff;
                padding: 10px;
                ol {
                    text-align: left;
                }
            }
        }
        .container-table-slide {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            padding: 30px;
            .element-slide {
                @include box-shadow(0, 1px, 4px, rgba(0, 0, 0, 0.1));
                border-radius: 4px;
                flex-basis: 30%;
                .img-container {
                    width: 100%;
                    border-radius: inherit;
                    a {
                        width: inherit;
                        border-radius: inherit;
                        img {
                            width: inherit;
                            height: 300px;
                            border-radius: inherit;
                            object-fit: cover;
                        }
                    }
                }
                .content-slide {
                    padding: 10px 0px;
                    text-align: center;
                    .date-slide {
                        text-align: left;
                        padding-left: 6px;
                        span {
                            font-weight: 600;
                        }
                    }
                    .custom-bnt {
                        padding: 10px 60px;
                    }
                }
            }
        }
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

#list-category {
    #TBlist-category {
        padding: 15px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 15px;
        li {
            border: 1px solid #6ca6d9;
            .content-category {
                width: 100%;
                background: #6ca6d9;
                text-align: left;
                padding: 15px;
                padding-left: 10px;
                font-size: 14px;
                font-weight: 500;
                position: relative;
                color: #fff;
            }
        }
        .id-category {
            display: contents;
        }
        .name-category {
            display: inline-block;
        }
        .sub-category {
            padding-left: 30px;
            li {
                list-style-type: disclosure-closed;
                border: unset;
            }
        }
    }
}

#list-employees {
    .container-table-employees {
        .media {
            border: 1px solid rgba(0, 0, 0, 0.14);
            border-radius: 4px;
            background-color: #fff;
            .media-body {
                width: unset;
                padding: 5px;
                .address-employee {
                    word-break: break-word;
                }
            }
            .media-object {
                object-fit: cover;
                height: 120px;
                width: 120px !important;
            }
        }
    }
}

.content-head {
    position: relative;
}

.content-head::after {
    content: "\f161";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #000;
    position: absolute;
    top: 0;
}

// confige bootstrap
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: baseline;
}

.table-hover>tbody>tr:hover {
    background-color: #e3efff;
}

.table>thead>tr>th {
    text-align: center;
}

.test+.tooltip>.tooltip-inner {
    color: #fff;
    padding: 5px;
    font-size: 15px;
    max-width: 300px;
    word-wrap: break-word;
    background: #30698c;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #30698c;
}

.description,
.address-order,
.note-order {
    a {
        width: 150px;
        height: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 14px;
        -webkit-line-clamp: 1;
        display: -webkit-inline-box;
        -webkit-box-orient: vertical;
    }
}

.name-product {
    position: relative;
}


/* Img for Product */

.img-pro {
    width: 100%;
    position: absolute;
    left: 35px;
    z-index: 2;
    height: auto;
    display: none;
}

.img-pro>img {
    width: 100%;
    height: auto;
}

.distributor {
    width: 100px;
    text-align: center;
}

.remark,
.price,
.view,
.id-procduct,
.amount,
.price,
.action-btn-manager {
    text-align: center;
}

.container-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #ffff;
    margin: 10px 0px;
    #myInput,
    #value-search {
        @include select_box();
    }
    #product-bnt-manager {
        display: flex;
        margin: unset;
        .element-PO-btn {
            p {
                margin: unset;
                padding: 10px 15px;
                font-size: 14px;
                font-weight: 600;
            }
        }
        .active-bnt-product {
            color: #4e73df;
            border-bottom: 3px solid #4e73df;
        }
    }
}

.cus-alert {
    margin-right: 10px;
}

.error-input {
    border: 1px solid red !important;
    background-color: rgb(255, 177, 177) !important;
}