@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

.container-log {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f6f6f6;
  .left-container,
  .right-container {
    height: inherit;
    flex: 1;
  }
  .left-container {
    width: 100%;
    position: relative;
    .img-log {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: inherit;
      img {
        width: inherit;
      }
    }
  }
  .right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .content-login {
      .form-acc {
        border-radius: 4px;
        @include box-shadow(0, 1px, 4px, rgba(0, 0, 0, 0.1));
        margin: 0px auto;
        width: 400px;
        background: #fff;
        form {
          .img-logo {
            display: flex;
            height: 80px;
            align-items: center;
            justify-content: center;
            img {
            }
          }

          .item-form {
            width: 100%;
            padding: 10px 30px;
            position: relative;

            h1 {
              font-size: 24px;
              font-weight: 500;
              color: #000;
              text-align: center;
              font-weight: 600;
            }

            input,
            textarea {
              width: 100%;
              padding: 12px 10px;
              padding-left: 40px;
              display: inline-block;
              border: none;
              border-radius: 4px;
              box-sizing: border-box;
              cursor: text;
              outline: none;
              font-size: 16px;
              font-weight: 400;
              color: #495057;
              background-color: #cccc;
              background-clip: padding-box;
              //   box-shadow: 0px 3px 20px rgb(0 0 0 / 8%);
              //   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            }
            .btn {
              background-color: #30698c;
              color: white;
              height: 50px;
              //   box-shadow: 0px 3px 20px rgb(0 0 0 / 8%);
              font-weight: 600;
              font-size: 18px;
              padding: 10px;
              text-align: center;
              display: block;
              width: 100%;
              border-radius: 4px;
              //   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
              //     border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            }

            .error-input {
              background-color: #f4bfbf !important;
            }

            .btn:hover {
              opacity: 0.8;
            }
          }

          .or {
            display: flex;
            align-items: center;
            padding: 10px 0px;
            div {
              height: 1px;
              width: 100%;
              background-color: #dbdbdb;
              -webkit-box-flex: 1;
            }
            span {
              color: #ccc;
              padding: 0 1rem;
              text-transform: uppercase;
              font-size: 14px;
            }
          }
          .sign-up-link {
            padding: 10px;
            color: rgba(0, 0, 0, 0.26);
            text-align: center;
            p {
              font-size: 14px;
              span {
                color: darkblue;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}

.item-form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 42px;
}

.item-form .pass-icon {
  left: unset;
  right: 45px;
}
